<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Page.Params.description }}{{ end }}">
<link rel="canonical" href="{{ if .IsHome }}{{ .Site.BaseURL }}{{ else }}{{ .Permalink | absURL }}{{ end }}">
{{ if isset .Params "tags" }}<meta name="keywords" content="{{ delimit .Params.Tags ", " }}">{{ end }}
{{ if isset .Site.Params "twitter" }}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ if .IsHome }}{{ htmlEscape .Site.Params.description }}{{ else }}{{ htmlEscape .Page.Params.description }}{{ end }}">
<meta name="twitter:site" content="{{ .Site.Params.twitterSite | default .Site.Params.twitter }}">
<meta name="twitter:creator" content="{{ .Site.Params.twitterCreator | default .Site.Params.twitter }}">
{{ end }}
{{ template "_internal/opengraph.html" . }}
{{- if .Params.thumbnail -}}
<meta property="og:image" content="{{ .Params.thumbnail | absURL }}">
{{ end }}
<link rel="manifest" href="/manifest.json">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="theme-color" content="#7052fb">
<link rel="preconnect" href="//www.gstatic.com" crossorigin>
<link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="//fonts.googleapis.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap">
{{ partial "dependencies-css.html" .}}
{{ block "styles" . }} {{ end }}
{{ $style := resources.Get "scss/app.scss" | resources.ExecuteAsTemplate "css/app.css" . | toCSS | minify | fingerprint }}
<link type="text/css" rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{ range .AlternativeOutputFormats }}
{{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end }}
{{ block "links" . }} {{ end }}
{{ partial "seo-schema.html" .}}
{{- if not .Site.IsServer -}}
<link rel="preconnect dns-prefetch" href="//www.google-analytics.com" crossorigin>
{{ template "_internal/google_analytics_async.html" . }}
{{- end -}}
</head>
<body class="home-version-4" id="body" data-style="default">
{{ partial "loader.html" .}}
<div id="main_content">
{{ partial "header.html" .}}
{{ block "main" . }} {{ end }}
{{ partial "footer.html" .}}
</div>
{{ partial "dependencies-js.html" .}}
{{ $script := resources.Get "js/header.js" | minify | fingerprint }}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
{{ $script := resources.Get "js/app.js" | minify | fingerprint }}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
{{ $script := resources.Get "js/custom.js" | minify | fingerprint }}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
{{ block "scripts" . }} {{ end }}
</body>
</html>
