{{ define "main" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}
<section class="page-banner blog-details-banner">
    <div class="container">
        <div class="page-title-wrapper">
            <ul class="post-meta color-theme">
                <li><time datetime="{{ .Date }}" class="post__date">{{ .Date.Format $dateFormat }}</time></li>
            </ul>
            <h1 class="page-title">{{.Title}}</h1>
            {{ partial "blog/tags.html" .}}
        </div>
    </div><svg class="circle" data-parallax="{&quot;x&quot; : -200}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="950px" height="950px">
        <path fill-rule="evenodd" stroke="#007bff" stroke-width="100px" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.051" fill="none" d="M450.000,50.000 C670.914,50.000 850.000,229.086 850.000,450.000 C850.000,670.914 670.914,850.000 450.000,850.000 C229.086,850.000 50.000,670.914 50.000,450.000 C50.000,229.086 229.086,50.000 450.000,50.000 Z"></path>
    </svg>
    <ul class="animate-ball">
        <li class="ball"></li>
        <li class="ball"></li>
        <li class="ball"></li>
        <li class="ball"></li>
        <li class="ball"></li>
    </ul>
</section>
<section class="blog-single">
    <div class="container pb-120">
        <div class="row">
            <div class="col-md-8">
                <div class="post-wrapper">
                    <article class="post post-signle">
                        {{ if .Params.thumbnail }}
                        <div class="feature-image" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300"><a href="{{.RelPermalink}}"><img src="{{ .Params.thumbnail }}" alt="{{.Title}}"></a></div>
                        {{ end }}
                        <div class="blog-content">
                            {{ partial "blog/anchored-headings.html" .Content }}
                            {{ $taxo := "tags" }}
                            {{ with .Param $taxo }}
                            <div class="tagcloud mt-4">
                                <span>Tags:</span>
                                {{ range $index, $tag := . }}
                                {{ with $.Site.GetPage (printf "/%s/%s" $taxo $tag) -}}
                                <a href="{{ .Permalink }}">{{ $tag | urlize | upper }}</a>
                                {{- end -}}
                            {{- end -}}
                            </div>
                            {{ end }}
                            {{ partial "blog/post-pagination.html" .}}
                        </div>
                    </article>
                    <div class="blog-share mb-5">
                        <div class="share-title">
                            <p>Share:</p>
                        </div>
                        <ul class="share-link">
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/share?url={{.Permalink}}"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{.Permalink}}"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div id="comments" class="mb-5">
                        {{ template "_internal/disqus.html" . }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {{ partial "blog/sidebar.html" . }}
            </div>
        </div>
    </div>
</section>
{{ end }} 

{{ define "scripts" }}
  {{/* Hardcode a specific prismjs version to avoid a redirect on every page load. */}}
  <script src="https://unpkg.com/prismjs@1.20.0/components/prism-core.min.js"></script>

  {{/* Automatically loads the needed languages to highlight the code blocks. */}}
  <script src="https://unpkg.com/prismjs@1.20.0/plugins/autoloader/prism-autoloader.min.js"
    data-autoloader-path="https://unpkg.com/prismjs@1.20.0/components/"></script>

  {{ if .Params.toc }}
    <script src="/js/table-of-contents.js"></script>
  {{ end }}

{{ end }}
