<link rel="icon" type="image/png" sizes="32x32" href="/media/logo_dark.png">
<link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/dependencies/fontawesome/css/all.min.css" type="text/css">
<link rel="stylesheet" href="/dependencies/swiper/css/swiper.min.css" type="text/css">
<link rel="stylesheet" href="/dependencies/magnific-popup/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/dependencies/components-elegant-icons/css/elegant-icons.min.css" type="text/css">
<link rel="stylesheet" href="/dependencies/simple-line-icons/css/simple-line-icons.css" type="text/css">
<link rel="stylesheet" href="/dependencies/aos/css/aos.css" type="text/css">
<link rel="stylesheet" href="/dependencies/custom/custom.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />