<script src="/dependencies/jquery/jquery.min.js"></script>
<script src="/dependencies/bootstrap/js/bootstrap.min.js"></script>
<script src="/dependencies/swiper/js/swiper.min.js"></script>
<script src="/dependencies/jquery.appear/jquery.appear.js"></script>
<script src="/dependencies/wow/js/wow.min.js"></script>
<script src="/dependencies/countUp.js/countUp.min.js"></script>
<script src="/dependencies/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/dependencies/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/dependencies/jquery.parallax-scroll/js/jquery.parallax-scroll.js"></script>
<script src="/dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
