<link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/dependencies/swiper/css/swiper.min.css" type="text/css">
<link rel="stylesheet" href="/dependencies/magnific-popup/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/dependencies/components-elegant-icons/css/elegant-icons.min.css" type="text/css">
<link rel="stylesheet" href="/dependencies/simple-line-icons/css/simple-line-icons.css" type="text/css">
<link rel="stylesheet" href="/dependencies/aos/css/aos.css" type="text/css">
<link rel="stylesheet" href="/dependencies/custom/custom.css" type="text/css">