<footer id="footer" class="footer-five">
    <div class="container">
        <div class="footer-inner wow pixFadeUp">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget footer-widget">
                        <h3 class="widget-title">Company</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Tentang Kami</a></li>
                            <li><a href="#portfolio">Portofolio Kami</a></li>
                            <li><a href="#techStack">Tech Stack</a></li>
                            <li><a href="https://wa.me/6285723933591?text=Hai, DigitalKode!">Get Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget footer-widget">
                        <h3 class="widget-title">Services</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Web Design & Development</a></li>
                            <li><a href="#">Apps Development</a></li>
                            <li><a href="#">Wordpress</a></li>
                            <li><a href="#">Online Marketing</a></li>
                            <li><a href="#">Content Management System</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget footer-widget">
                        <h3 class="widget-title">Digital Experience</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Mobile App Design</a></li>
                            <li><a href="#">UX / UI design</a></li>
                            <li><a href="#">Dashboard & Tool</a></li>
                            <li><a href="#">Logo & Identity</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget footer-widget">
                        <h3 class="widget-title">Our Address</h3>
                        <p>
                            Jl. Brawijaya, Gg. III No.16, Sriwidari, Kec. Gunungpuyuh, Kota Sukabumi, Jawa Barat 43121
                            <br>
                            <a href="https://goo.gl/maps/GK9jZ5oKj8NRVmNP7"><i class="fa fa-map"></i> Open on google maps</a>
                        </p>
                        <ul class="footer-social-link">
                            <li><a href="https://www.facebook.com/digitalkode"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/digitalkode"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.twitter.com/digitalkode"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/digitalkode"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-info">
            <div class="copyright">
                <p>Digital Kode © 2020 All Rights Reserved</p>
            </div>
            <ul class="site-info-menu">
                <li><a href="#">Privacy & Policy.</a></li>
                <li><a href="#">Faq.</a></li>
                <li><a href="#">Terms.</a></li>
            </ul>
        </div>
    </div>
</footer>
