
<header class="site-header header-five header_trans-fixed" data-top="992">
    <div class="container">
        <div class="header-inner">
            <div class="toggle-menu"><span class="bar"></span> <span class="bar"></span> <span
                    class="bar"></span></div>
            <div class="site-mobile-logo"><a href="#" class="logo"><img src="/media/logo_dark.png"
                        alt="site logo" class="main-logo" style="visibility: hidden;"> <img style="max-height:50px; width:50px"
                        src="/media/logo_dark.png" alt="site logo" class="sticky-logo"></a></div>
            <!-- desktop -->
            <nav class="site-nav">
                <div class="close-menu"><span>Close</span> <i class="ei ei-icon_close"></i></div>
                <div class="site-logo"><a href="/" class="logo"><img width="100px"
                            src="/media/logo_dark.png" alt="site logo" class="main-logo"> <img
                            style="max-height:50px; width:50px" src="/media/logo_dark.png" alt="site logo"
                            class="sticky-logo"></a></div>
                <div class="menu-wrapper" data-top="992">
                    <ul class="site-main-menu">
                        <li><a href="/">Home</a>
                        </li>
                        <li><a href="/about">Tentang</a></li>
                        <li><a href="/blog">Blog</a>
                        </li>
                        <li><a href="/series">Series</a>
                        </li>
                    </ul>
                    <div class="nav-right"><a href="contact.html" class="nav-btn">Contact</a></div>
                </div>
            </nav>

        </div>
    </div>
</header>
<div class="navbar site-mobile my-auto mx-auto">
    <div class="row ">
        <div class="col-3"><a class="active" href="#home"><i class="fa fa-lg fa-home"></i></a> </div>
        <div class="col-3"><a href="#portfolio"><i class="fa fa-lg fa-paint-brush"></i></a></div>
        <div class="col-3"><a href="#team"><i class="fa fa-lg fa-users"></i></a> </div>
        <div class="col-3"> <a href="https://wa.me/6285794300260?text=Hi, DigitalKode!"><i class="fa fa-lg fa-comments"></i></a></div>
    </div>
</div>
