<section class="banner banner-five">
    <div class="banner-right-shape">
        <img id="home" src="/media/banner/banner-five/shape-bg.png" data-aos="flip-up" alt="">
    </div>
    <div class="container">
        <div class="banner-content-wrap-five">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <img id="img-mobile" class="mx-auto" src="/media/logo_dark.png" width="40%" alt="">
                        <br>
                        <h5 class="sub-title" data-aos="fade-up" data-aos-delay="200"><br>Mewujudkan Mimpi di Dunia Digital..</h5>
                        <h1 class="banner-title" data-aos="fade-up" data-aos-delay="300">Selamat Datang
                            di<br><b>DIGITAL</b>KODE</h1>
                        <p class="description" data-aos="fade-up" data-aos-delay="300">Mari Mewujudkan Mimpi Di
                            Dunia Digital <br>Bersama DigitalKode</p><a href="#what-we-do"
                            class="banner-btn pix-btn "data-aos="fade-up" data-aos-delay="200">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="promo-mockup-five text-center">
                        <ul class="animate-element-five">
                            <li><img src="/media/banner/banner-five/1.png" class="wow fadeInDown" alt="mockup">
                            </li>
                            <li><img src="/media/banner/banner-five/2.png" class="wow zoomIn"
                                    data-wow-delay="0.43s" alt="mockup"></li>
                            <li><img src="/media/banner/banner-five/3.png" class="wow zoomIn"
                                    data-wow-delay="0.4s" alt="mockup"></li>
                            <li><img src="/media/banner/banner-five/4.png" class="wow fadeInRight" alt="mockup">
                            </li>
                            <li><img src="/media/banner/banner-five/5.png" class="wow fadeInLeft"
                                    data-wow-delay="0.6s" alt="mockup"></li>
                            <li><img src="/media/banner/banner-five/6.png" class="wow fadeInUp"
                                    data-wow-delay="0.7s" alt="mockup"></li>
                            <li><img src="/media/banner/banner-five/7.png" class="wow fadeInDown"
                                    data-wow-delay="0.8s" alt="mockup"></li>
                            <li><img src="/media/banner/banner-five/8.png" class="wow fadeInDown"
                                    data-wow-delay="1s" alt="mockup"></li>
                            <li><img src="/media/banner/banner-five/9.png" class="wow fadeInRight" alt="mockup">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="animate-particle">
        <li><img src="/media/banner/banner-five/ta1.png" alt="saaspik tryangle"></li>
        <li><img src="/media/banner/banner-five/ta4.png" alt="saaspik tryangle"></li>
        <li><img src="/media/banner/banner-five/ta2.png" alt="saaspik tryangle"></li>
        <li><img src="/media/banner/banner-five/ta3.png" alt="saaspik tryangle"></li>
        <li><img src="/media/banner/banner-five/cm1.png" alt="saaspik tryangle"></li>
        <li><img src="/media/banner/banner-five/circle.png" data-parallax='{"y": -150, "x": 100}'
                alt="saaspik tryangle"></li>
        <li class="bubble"></li>
    </ul>
    <div class="left-circle-shape"><span class="circle-fill"></span> <span class="circle-border"></span></div>
</section>
