<section class="featured-seven" id="team">
    <div class="container">
        <div class="section-title style-two text-center">
            <h2 class="title wow pixFadeUp">Our Great Teams</h2>
            <p class="wow fadeInUp" data-aos="fade-up">Sebuah Startup Tidak Dapat Berdiri tanpa sebuah ikatan
                yang kuat <br>Perkenalkan, Kami Adalah Tim <b>DigitalKode.</b></p>
        </div>
    </div>
</section>
<section class="teams-three">
    <div class="container-wide">
        <div class="row gutters-10">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-left" data-aos-delay="200">
                <div class="team-member-two wow pixFadeRight">
                    <div class="member-avater"><img src="/media/team/dihak.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Dihak Muhammad Nur Al Ma'arif</h3>
                            <h4 class="job">CEO & Founder</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="https://fb.com/dihak"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://github.com/dihak"><i class="fab fa-github"></i></a></li>
                            <li><a href="https://twitter.com/dihak_"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://linkedin.com/in/dihak"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li><a href="https://instagram.com/dihak_"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-right" data-aos-delay="200">
                <div class="team-member-two wow pixFadeRight">
                    <div class="member-avater"><img src="/media/team/rafli.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Muhammad Rafly Indrawan</h3>
                            <h4 class="job">Co-Founder</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="https://www.facebook.com/fliw.id"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="https://github.com/fliw"><i class="fab fa-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/Fliw/"><i
                                        class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://instagram.com/fliw__"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://api.whatsapp.com/send?phone=6283879178489"><i
                                        class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-right" data-aos-delay="200">
                <div class="team-member-two wow pixFadeRight">
                    <div class="member-avater"><img src="/media/team/faisal.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Muhamad Faisal</h3>
                            <h4 class="job">Tech Manager</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="https://www.facebook.com/Aisyahseftianaputri"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-left" data-aos-delay="200">
                <div class="team-member-two wow pixFadeRight">
                    <div class="member-avater"><img src="/media/team/ridwan.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Ridwan Andriansyah</h3>
                            <h4 class="job">Fullstack Web Developer</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="https://facebook.com/ridwanardiansyah524"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/ridwan_27_"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com/ridwan_27_"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="https://api.whatsapp.com/send?phone=6285864518811"><i
                                        class="fab fa-whatsapp"></i></a></li>
                            <li><a href="https://gitlab.com/ridwan2709"><i class="fab fa-gitlab"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-right" data-aos-delay="200">
                <div class="team-member-two wow pixFadeLeft">
                    <div class="member-avater"><img src="/media/team/rizal.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Muhamad Rizal Noor Pratama</h3>
                            <h4 class="job">Fullstack Web Developer</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-left" data-aos-delay="200">
                <div class="team-member-two wow pixFadeLeft">
                    <div class="member-avater"><img src="/media/team/cici.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">IL Jami'atin zannah</h3>
                            <h4 class="job">Fullstack Web Developer</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-left" data-aos-delay="200">
                <div class="team-member-two wow pixFadeLeft">
                    <div class="member-avater"><img src="/media/team/fuad.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Muhammad Nur Fuad</h3>
                            <h4 class="job">Fullstack Web Developer</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-left" data-aos-delay="200">
                <div class="team-member-two wow pixFadeLeft">
                    <div class="member-avater"><img src="/media/team/bagus.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Bagus Pranowo</h3>
                            <h4 class="job">Fullstack Web Developer</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-left" data-aos-delay="200">
                <div class="team-member-two wow pixFadeLeft">
                    <div class="member-avater"><img src="/media/team/dede.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Muhammad Dede Hidayatullah</h3>
                            <h4 class="job">Fullstack Web Developer</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-left" data-aos-delay="200">
                <div class="team-member-two wow pixFadeLeft">
                    <div class="member-avater"><img src="/media/team/fikri.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Muhammad Fikri Billa Afifudin</h3>
                            <h4 class="job">Graphic Designer</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-right" data-aos-delay="200">
                <div class="team-member-two wow pixFadeLeft">
                    <div class="member-avater"><img src="/media/team/ridwan2.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Ridwan RA</h3>
                            <h4 class="job">UI/UX Designer</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6" data-aos="flip-left" data-aos-delay="200">
                <div class="team-member-two wow pixFadeLeft">
                    <div class="member-avater"><img src="/media/team/hasan.webp" alt="avater">
                        <div class="team-info">
                            <h3 class="name">Muhammad Hasan Yanuar</h3>
                            <h4 class="job">back Office</h4>
                        </div>
                        <ul class="member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
