<section class="tech-in-stack">
    <div class="container">
        <div class="testimonial-wrapper-two wow pixFadeUp" data-wow-delay="0.5s">
            <div class="section-title style-two text-center">
                <h2 class="title wow pixFadeUp" id="techStack">Our Tech Stack</h2>
                <p class="wow fadeInUp pb-5" data-wow-delay="0.3s"><b>DigitalKode</b>. Selalu Berupaya untuk
                    menciptakan aplikasi dengan teknologi terbaik <br> Untuk menciptakan performa dan pengalaman
                    user yang luar biasa!</p>
                <div class="swiper-containerz pt-3">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/media/techstack/vue.png" alt="vue">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/react.png" alt="react">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/boostrap.png" alt="boostrap">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/materialize.png" alt="materialize">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/tailwind.png" alt="tailwind">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/laravel.png" alt="laravel">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/codeigniter.png" alt="codeigniter">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/js.png" alt="js">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/adonisjs.png" alt="adonisjs">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/docker.png" alt="docker">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/firebase.png" alt="firebase">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/mongodb.png" alt="mongodb">
                        </div>
                        <div class="swiper-slide">
                            <img src="/media/techstack/mysql.png" alt="mysql">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
