<section class="testimonials-four">
    <div class="section-title style-two text-center">
        <h2 class="title wow pixFadeUp">Testimonial</h2>
        <p class="wow fadeInUp" data-wow-delay="0.3s">testimoni resmi untuk <b>DigitalKode</b>. Sebagian
            Besar Berasal Dari <i>Upwork</i></p>
    </div>
    <div class="container">
        <div class="testimonial-wrapper-two wow pixFadeUp" data-wow-delay="0.5s">
            <div class="swiper-container" id="testimonials-four" data-speed="700" data-effect="fade"
                data-autoplay="5000">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-four">
                            <div class="single-bio-thumb"><img class="w-100 h-100"
                                    src="https://www.upwork.com/profile-portraits/c1vpFXJXhOIPQ_HQ3w4dkEW8qbxgFhZTOsUX7NKM04ra7oXYBznhdfC0EZ_JEWzRhm"
                                    alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <div class="quote"><img src="/media/testimonial/quote3.png" alt="quote"></div>
                                <p>He is <b>Genius</b>. Highly Recommended and will Surely work with him again.</p>
                            </div>
                            <div class="bio-info">
                                <h3 class="name">Hiral Patel</h3><span class="job">India</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-four">
                            <div class="single-bio-thumb"><img class="w-100 h-100"
                                    src="https://www.upwork.com/profile-portraits/c1XsdSNhavf6RcbzYkx3QYxc-GX4WBvp3R1tAIa4-1JSlN153YRhGn9WCF3GSzfTEH"
                                    alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <div class="quote"><img src="/media/testimonial/quote3.png" alt="quote"></div>
                                <p>super !! highly recommended !! and give you some recommendations for your work !! perfect</p>
                            </div>
                            <div class="bio-info">
                                <h3 class="name">Lebas Vincent</h3><span class="job">French</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-four">
                            <div class="single-bio-thumb"><img class="w-100 h-100"
                                    src="https://www.upwork.com/profile-portraits/c1aVaLRRf1y_xAN-i1CUdeiQXHHmQodhDpzoTM-DwdbiRMUcCo5Gxa5dZ5a2Q8AZas"
                                    alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <div class="quote"><img src="/media/testimonial/quote3.png" alt="quote"></div>
                                <p>Great Developer, saved us a bunch of time on this</p>
                            </div>
                            <div class="bio-info">
                                <h3 class="name">Nemanja Mirkovi</h3><span class="job">Serbia</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-nav wow pixFadeUp" data-wow-delay="0.3s">
                <div id="slide-prev" class="swiper-button-prev"><i class="ei ei-arrow_left"></i></div>
                <div id="slide-next" class="swiper-button-next"><i class="ei ei-arrow_right"></i></div>
            </div>
        </div>
    </div>
</section>
